.resize
{
	//margin-left:0px;
	margin-bottom:40px;
	margin-top:40px;
	
}

#navbar
{
	background-color:"#0000ff";
	height:"50px";
}
.card {
    padding-top: 10px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card .card-heading {
    padding: 0 20px;
    margin: 0;
}
.card.hovercard {
    //position: fixed;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
	
}
/*HERE THE LENGTH OF THE CARD*/
.card.hovercard .cardheader {
    background: url("unknown2.jpg");
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -60px;
    margin-bottom: -50px;
}
.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}
.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.bottom .btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }

.profile
{
    height: 380px;
    background-color: black;
}
/*JOB CARD*/

.jobCard
{
    height: 200px;
    margin-top: 30px;
    margin-left: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.split .jobCard
{
    height: auto;
    margin-top: 30px;
    margin-left: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.descTitle
{
    height: 40px;
    background-color: #41b5ff;
    align-items: center;
}

.overview .table thead td
{
    height: auto;
}
.overview .table tbody tr
{
    height: auto;
}

/*END OF JOB CARD*/
